:root {
    // brand colors
    --c-brand: #4f92ce;
    --c-brand-light: #4f92ce;

    --c-text-accent: #4f92ce;
}

html.dark {
    // brand colors
    --c-brand: #4f92ce;
    --c-brand-light: #4f92ce;

    --c-text-accent: #4f92ce;
}